<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isi Profile</title>
</head>
<body>
    <h1>Lengkapi profil</h1>
    <form method="post">
        <p>
            <label for="firstName"></label><br>
            <input type="text" name="firstName" id="firstName">
        </p>
        <p>
            <label for="lastName"></label><br>
            <input type="text" name="lastName" id="lastName">
        </p>
        <p>
            <label for="dateOfBirth"></label><br>
            <input type="date" name="dateOfBirth" id="dateOfBirth">
        </p>
        <p>
            Pilih gender<br>
            <input type="radio" name="gender" id="gender" value="Male">
            <label for="gender">Male</label>
            <input type="radio" name="gender" id="gender" value="Female">
            <label for="gender">Female</label>
        </p>

        <button type="submit">Lengkapi</button>
    </form>
</body>
</html>